

                   {% extends 'bambi/admin/base.html' %}


      {% block css %}

        <!-- Sweet Alert css -->
        <link href="/static/bambi/assets/plugins/sweet-alert/sweetalert2.min.css" rel="stylesheet" type="text/css" />
        {% endblock css %}




  {% block content %}
      <div class="container-fluid">
                    <div class="page-head">
                        <h4 class="mt-2 mb-2">Agents</h4>
                    </div>
                    <div class="data-table">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <div class="card m-b-30">
                                    <div class="card-body table-responsive">
                                        <h5 class="header-title">Some people belong here</h5>
                                        <p class="text-muted">Say Something Soweto.</p>
                                    

         
                                        
                                       
                                        
                                        <div class="table-odd">
                                            <table id="datatable" class="table table-bordered">
                                                <thead>
                                                <tr>
                                                    <th>id</th>
                                                    <th>Name</th>
                                                    <th>Contact</th>
                                                    <th>Email</th>
                                                  <th>Total Visits</th>
                                                     <th>Date Added </th>
                                                </tr>
                                                </thead>

                                                <tbody>
                                            {% comment %} sort by date joined, age, and even specify  {% endcomment %}
                                                 
                                                    
                                            {% for a in agents %}
                                                <tr>
                                                    <td><span onclick="showID('{{a.agent_id}}','{{a.name}}')">👁‍🗨</span></td>
                                                    <td><a href={% url 'bambi:agentDetail' a.agent_id %} >{{a.name}}</a></td>
                                                    <td>{{a.contact}}</td>
                                                    <td>{{a.email}}</td>
                                               
                                                    <td>0</td>
                                                   
                                                      <td>{{a.created_at}}</td>
                                      
                                                </tr>
                                                 {% endfor %}
                                                
                                                 
                                             



                                              
                                            
                                                </tbody>
                                            </table>
                                        </div>    

                                 



                                    </div>
                                </div>
                            </div>
                        </div><!--end row-->

                  
                    </div>                   
                    
                </div><!--end container-->
                {% endblock content %}



   {% block js %}
  <!-- Sweet Alert Js  -->
        <script src="/static/bambi/assets/plugins/sweet-alert/sweetalert2.min.js"></script>
        <script src="/static/bambi/assets/pages/jquery.sweet-alert.init.js"></script> 

    <script>
    function showID(id,name){
           swal({
                            title: name + " ID",
                            text: id+" ",
                        
                          
                        });
    }
    </script>


        {% endblock js %}