   {% extends 'bambi/admin/base.html' %}


     {% block css %}

        <!-- Sweet Alert css -->
        <link href="/static/bambi/assets/plugins/sweet-alert/sweetalert2.min.css" rel="stylesheet" type="text/css" />
        {% endblock css %}



  {% block content %}



 <div class="container-fluid">
                    <div class="page-head"></div>
                    <div class="row">
                        <div class="col-lg-3 col-sm-12">
                            <div class="card m-b-30 border-0">
                                <div class="row text-center text-white profile-block" style="height: 50px;">
                                   
                                </div>
                                {% comment %} <div class="card-body pro-img mx-auto text-center">
                                    <img src="assets/images/users/avatar-7.jpg" alt="" class="rounded-circle mx-auto d-block">
                                </div> {% endcomment %}

                                <div class="text-center">
                                    <h5>{{member.name}}</h5>
                                    {% comment %} <p class="text-muted">Email Sent</p> {% endcomment %}

                                    {% comment %} <p class="text-muted">Email Sent</p> {% endcomment %}

                            <p class="text-muted"> 
                                <a href="javascript:void(0);"> 
                                {% ifequal member.status 'inactive' %}
                                    <span data-container="body" data-toggle="popover" title="" data-placement="right" data-content="Member added successfully. Please proceed with activating #addbuttonbelow" data-original-title="Status Description" aria-describedby="popover812469" class="badge bg-secondary m-1">Inactive</span>
                                {% endifequal %}
                                </a>
                            </p>

 <a href="{% url 'bambi:accountPage' member.membership_id  %}" class="btn btn-outline-info mb-3">Manage Account</a> 



 
                                    
                                    
                                     
                                 
                                  

                                
                                    {% comment %} <p class="text-muted p-2">Hi I'm Robert Carlile,has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p> {% endcomment %}
                                    {% comment %} <button class="btn btn-outline-info mb-3">Follow</button> {% endcomment %}
                                </div>
                                
                                <div class="row text-center profile-block">
                                    <div class="col-6 align-self-center py-3 border-right">
                                        <p class="profile-count">0</p>
                                        <p class="mb-0">Balance</p>
                                    </div>
                                    <div class="col-6 align-self-center py-3">
                                        <p class="profile-count">0</p>
                                        <p class="mb-0">Check-Ins</p>
                                    </div>
                                </div>
                            </div>
                          
                            <div class="row">
                                <div class="col-lg-12 col-sm-12">
                                    <div class="card m-b-30 contact">
                                        <div class="card-body">
                                            <h6 class="header-title pb-3">Contact</h6>
                                            <ul class="list-unstyled">
                                                <li class=""><i class="fa fa-phone mr-2"></i>  {{member.contact}}</li>
                                                <li class="mt-2"><i class="fa fa-envelope-o mt-2 mr-2"></i>  {{member.email}}</li>
                                                <li class="mt-2"><i class="fa fa-map-marker mt-2 mr-2"></i>{{member.address}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9 col-sm-12">
                            <div class="card-title tab-2">
                                        <ul class="nav nav-tabs nav-justified">
                                            <li class="nav-item">
                                                <a class="nav-link active" href="#about" data-toggle="tab" aria-expanded="false"><i class="ti-user mr-2"></i>About</a>
                                            </li>
                                                                                        
                                            
                                            <li class="nav-item">
                                                <a class="nav-link" href="#settings" data-toggle="tab" aria-expanded="false"><i class="ti-settings mr-2"></i>Customize</a>
                                            </li>                                                
                                        </ul>
                                        <div class="tab-content p-4 bg-white">
                                            
                                            <div class="tab-pane active p-4" id="about">
                                                <div class="row justify-content-center">
                                                    <div class="col-md-12  profile-detail">
                                                        <div class="text-center">
                                                            {% comment %} <i class="fa fa-graduation-cap"></i>
                                                            <h5>Personal Details</h5>
                                                            <div class="profile-border my-3"></div> {% endcomment %}
                                                            <p class="detail-text">No Info.</p>
                                                            
                                                        </div>
                                                    

                                                    </div>
                                                </div>
                                            </div>
                                           
                                            <div class="tab-pane" id="settings">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                       

                                                        <div class="card-body">
                                                          
                                                                 <form role="form"  class="form-horizontal form-material" id="former" method="post"  enctype="multipart/form-data">                                            
                                                                    {% csrf_token %} 
                                                               

                                                                <input type="hidden" id="membership_id" value="{{member.membership_id}}">



                                                                <div class="form-group row">
                                                                 <div class="col-md-6">
                                                                        <input type="text" name="name" onchange="enableSave()" value="{{member.name}}" placeholder="Name" class="form-control form-control-line">
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <input type="email" onchange="enableSave()" value="{{member.email}}" placeholder="Email" class="form-control form-control-line" name="email" id="example-email">
                                                                    </div>
                                                                   
                                                                   
                                                                </div>
                                                                <div class="form-group row">
                                                                    <div class="col-md-4">
                                                                        <input type="text" onchange="enableSave()" value="{{member.contact}}" name="contact" placeholder="Phone No" class="form-control form-control-line">
                                                                    </div>
                                                                      <div class="col-md-4">
                                                                        <input type="text" onchange="enableSave()" value="{{member.address}}" name="address" placeholder="Address" class="form-control form-control-line">
                                                                    </div>

                                                                     <div class="col-md-4">
                                                                   
                                                                   <input class="form-control" onchange="enableSave()" name="dob" value="{{member.dob}}" type="date" id="example-date-input">
                                                                    </div>

                                                                     
                                                                    
                                                                </div>
                                                                <div class="form-group">
                                                                    
                                                                    <button id="sbmt" disabled type="submit" class="btn btn-info">Save</button>




                                                                    
                                                                </div>
                                                            </form>
<div class="form-group">
                                                                                                                                 <button onclick="deleteMember()" class="btn btn-danger">Delete Member</button>
                                                         </div>
                                                        </div>
                                                    </div>                                           
                                                </div>
                                            </div>
                                        </div>                                    
                                    </div>

                            <div class="row">
                                <div class="col-lg-12 col-sm-12">
                                    <div class="card m-b-30">
                                        <div class="card-body">
                                            <h5 class="header-title pb-3">Activities</h5>
                                            <div id="user-activities" class="tab-pane">
                                                <div class="timeline-2">

                                                {% for log in related_logs %}
                                                
                                                 <div class="time-item">
                                                        <div class="item-info">
                                                            <div class="text-muted">{{log.created_at}}</div>
                                                            {% comment %} <p><strong><a href="#" class="text-info">Robert Carlile</a></strong> Uploaded a photo <strong>"DSC000586.jpg"</strong></p> {% endcomment %}

                                                                       <p><em>{{log.log_message}}</em></p>
                                                        </div>
                                                    </div>
                                                
                                                {% endfor %}
                                                   
{% comment %} 
                                                    <div class="time-item">
                                                        <div class="item-info">
                                                            <div class="text-muted">30 minutes ago</div>
                                                            <p><a href="" class="text-info">Lorem</a> commented your post.</p>
                                                            <p><em>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet tellus ut tincidunt euismod. "</em></p>
                                                        </div>
                                                    </div>

                                                    <div class="time-item">
                                                        <div class="item-info">
                                                            <div class="text-muted">59 minutes ago</div>
                                                            <p><a href="" class="text-info">Jessi</a> attended a meeting with<a href="#" class="text-success">Robert Carlile</a>.</p>
                                                            <p><em>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet tellus ut tincidunt euismod. "</em></p>
                                                        </div>
                                                    </div>

                                                    <div class="time-item">
                                                        <div class="item-info">
                                                            <div class="text-muted">5 minutes ago</div>
                                                            <p><strong><a href="#" class="text-info">Robert Carlile</a></strong>Uploaded 2 new photos</p>
                                                        </div>
                                                    </div>

                                                    <div class="time-item">
                                                        <div class="item-info">
                                                            <div class="text-muted">30 minutes ago</div>
                                                            <p><a href="" class="text-info">Lorem</a> commented your post.</p>
                                                            <p><em>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet tellus ut tincidunt euismod. "</em></p>
                                                        </div>
                                                    </div>

                                                    <div class="time-item">
                                                        <div class="item-info">
                                                            <div class="text-muted">59 minutes ago</div>
                                                            <p><a href="" class="text-info">Jessi</a> attended a meeting with<a href="#" class="text-success">Robert Carlile</a>.</p>
                                                            <p><em>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet tellus ut tincidunt euismod. "</em></p>
                                                        </div>
                                                    </div> {% endcomment %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!--end row-->
                        </div>            
                    </div><!--end row-->                   
                    
                </div><!--end container-->











 {% endblock content %}



   {% block js %}

   <!-- Sweet Alert Js  -->
        <script src="/static/bambi/assets/plugins/sweet-alert/sweetalert2.min.js"></script>
        <script src="/static/bambi/assets/pages/jquery.sweet-alert.init.js"></script>   


        <script>


        function enableSave(){
$('#sbmt').prop("disabled", false); 

        }




         function editMember(){
  
        
        var frm = $('#former');
        var url = "{% url 'bambi:editMember' '123' %}";
        var membership_id = $("#membership_id").val();


        console.log($("#membership_id").val());


        url = url.replace('123', membership_id + "");

       console.log(url);
            console.log(frm.serialize());
            $.ajax({
                type: frm.attr('method'),
                url: url,
                data: frm.serialize(),
                async:true,
            
                success: function (data) {
            
               
               console.log("pass"); 
            
               
               console.log(data); 

               if(data['Success']){
       

                        console.log("sasasasasas"); 

                        swal({
                            position: 'top-end',
                            icon: 'success',
                            title: 'Member Details Modified.',
                            showConfirmButton: true,
                            showCancelButton: false,
                          //  confirmButtonColor: '#3085d6',
                          //  cancelButtonColor: '#d33',
                            confirmButtonText: 'Okay!'
                             
                        }).then((result) => {
                          

                              window.location.href = '/memberDetail/'+ membership_id;
                        });



                
               }



             



               



                },
                error: function(data) {
                    // $("#MESSAGE-DIV").html("Something went wrong!");
                    console.log("fail"); 
                    console.log(data); 
                
                }
            });
            return false;
        // });
    }

    function deleteMember(){



                        swal({
                            position: 'top-end',
                            icon: 'success',
                            title: 'You are about to delete a Member!',
                            showConfirmButton: true,
                            showCancelButton: true,
                          //  confirmButtonColor: '#3085d6',
                          //  cancelButtonColor: '#d33',
                            confirmButtonText: 'Okay!'
                             
                        }).then((result) => {

                            
                            //if (result.value) {
                            //  Swal.fire(
                            //    'Deleted!',
                            //    'Your file has been deleted.',
                            //    'success'
                            //  )

                               var url = "{% url 'bambi:deleteMember' '123' %}";
        var membership_id = $("#membership_id").val();


        console.log($("#membership_id").val());


        url = url.replace('123', membership_id + "");

       console.log(url);
          
            $.ajax({
            
                url: url,
            
                async:true,
            
                success: function (data) {
            
               
               console.log("pass"); 
            
               
               console.log(data); 

               if(data['Success']){
       

                        console.log("sasasasasas"); 



                             swal({
                                    title: " ",
                                    text: "Member deleted.",
                        
                          
                                 });

  		                    window.location.href = '/members';

                
               }



             



               



                },
                error: function(data) {
                    // $("#MESSAGE-DIV").html("Something went wrong!");
                    console.log("fail"); 
                    console.log(data); 
                
                }
            });
            return false;


            

                                
                        }, function(dismiss){
   if(dismiss == 'cancel'){
       // function when cancel button is clicked
       alert("Cance;;ed")
   }
});



       
    }


</script>



<script>

$('#former').on('submit', function (e) {
    //your awesome code here
    e.preventDefault();
    editMember();
})


</script>

        {% endblock js %}