   {% extends 'bambi/base.html' %}
  {% block content %}

















                <div class="container-fluid">
                    <div class="page-head">
                        <h4 class="my-2">Agent Centers</h4>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="input-group">
                                        <input type="text" id="example-input1-group2" name="example-input1-group2" class="form-control" placeholder="Search">
                                        <span class="input-group-append">
                                            <button type="button" class="btn btn-effect-ripple btn-primary"><i class="fa fa-search"></i> Search </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--end row-->

                    <div class="row">
                        <div class="col-lg-3 col-sm-12">
                            <div class="card bg-white m-b-30">
                                <a href="">
                                    <img src="assets/images/contact/1.jpg" alt="" class="img-fluid">
                                </a>
                                <div class="card-body">
                                    <div class="card-title mb-0">
                                        <h5>Span Medicare</h5>
                                        <p class="m-0">Kisasi</p>
                                    </div>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><i class="fa fa-envelope-o pull-right"></i>Email : <a href="#">spanmedicare@gmail.com</a></li>
                                    <li class="list-group-item"><i class="fa fa-phone pull-right"></i>Phone : 256 78-123-456</li>
                                </ul>
                                <div class="card-body">
                                    <ul class="social-links list-inline mb-0">
                                        <li class="list-inline-item">
                                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a>
                                        </li>
                                        <li class="pull-right btn-group-sm">
                                            <a href="#" class="btn btn-info tooltips text-white" data-placement="top" data-toggle="tooltip" data-original-title="Edit">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                             <a href="#" class="btn btn-dark tooltips text-white" data-placement="top" data-toggle="tooltip" data-original-title="Delete">
                                                <i class="fa fa-close"></i>
                                            </a>
                                        </li>                                                                      
                                    </ul>                                   
                                </div>
                            </div>
                        </div>
                     
                    </div><!--end row-->

                    {% comment %} <div class="row">
                        <div class="col-lg-3 col-sm-12">
                            <div class="card bg-white m-b-30 text-center">

                                <div class="card-body">
                                    <div class="mt-2">
                                        <a href="#">
                                            <img src="assets/images/users/avatar-1.jpg" alt="" class=" img-fluid rounded-circle" style="height: 88px;">
                                        </a>
                                    </div>

                                    <div class="card-title mt-3">
                                        <h5>Emma A. Main</h5>
                                        <p class="m-0">Graphics Designer</p>
                                    </div>
                                </div>
                                
                                <div class="card-body pt-0">
                                    <ul class="social-links list-inline">
                                        <li class="list-inline-item">
                                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a>
                                        </li>                                                                                                       
                                    </ul>                                                               
                                </div>
                                <div class="btn-group">
                                    <a href="#" class="btn btn-info btn-block mt-0 tooltips text-white " data-placement="top" data-toggle="tooltip" data-original-title="Edit">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a href="#" class="btn btn-dark btn-block mt-0 tooltips text-white " data-placement="top" data-toggle="tooltip" data-original-title="Delete">
                                        <i class="fa fa-close"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-12">
                            <div class="card bg-white m-b-30 text-center">

                                <div class="card-body">
                                    <div class="mt-2">
                                        <a href="#">
                                            <img src="assets/images/users/avatar-2.jpg" alt="" class=" img-fluid rounded-circle" style="height: 88px;">
                                        </a>
                                    </div>

                                    <div class="card-title mt-3">
                                        <h5>Jonathan Smith</h5>
                                        <p class="m-0">Graphics Designer</p>
                                    </div>
                                </div>
                                
                                <div class="card-body pt-0">
                                    <ul class="social-links list-inline">
                                        <li class="list-inline-item">
                                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a>
                                        </li>                                                                                                       
                                    </ul>                                                               
                                </div>
                                <div class="btn-group">
                                    <a href="#" class="btn btn-info btn-block mt-0 tooltips text-white " data-placement="top" data-toggle="tooltip" data-original-title="Edit">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a href="#" class="btn btn-dark btn-block mt-0 tooltips text-white " data-placement="top" data-toggle="tooltip" data-original-title="Delete">
                                        <i class="fa fa-close"></i>
                                    </a>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-3 col-sm-12">
                            <div class="card bg-white m-b-30 text-center">

                                <div class="card-body">
                                    <div class="mt-2">
                                        <a href="#">
                                            <img src="assets/images/users/avatar-3.jpg" alt="" class=" img-fluid rounded-circle" style="height: 88px;">
                                        </a>
                                    </div>

                                    <div class="card-title mt-3">
                                        <h5>Bruce Y. Burke</h5>
                                        <p class="m-0">Graphics Designer</p>
                                    </div>
                                </div>
                                
                                <div class="card-body pt-0">
                                    <ul class="social-links list-inline">
                                        <li class="list-inline-item">
                                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a>
                                        </li>                                                                                                       
                                    </ul>                                                               
                                </div>
                                <div class="btn-group">
                                    <a href="#" class="btn btn-info btn-block mt-0 tooltips text-white " data-placement="top" data-toggle="tooltip" data-original-title="Edit">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a href="#" class="btn btn-dark btn-block mt-0 tooltips text-white " data-placement="top" data-toggle="tooltip" data-original-title="Delete">
                                        <i class="fa fa-close"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-12">
                            <div class="card bg-white m-b-30 text-center">

                                <div class="card-body">
                                    <div class="mt-2">
                                        <a href="#">
                                            <img src="assets/images/users/avatar-4.jpg" alt="" class=" img-fluid rounded-circle" style="height: 88px;">
                                        </a>
                                    </div>

                                    <div class="card-title mt-3">
                                        <h5>Emma A. Main</h5>
                                        <p class="m-0">Graphics Designer</p>
                                    </div>
                                </div>
                                
                                <div class="card-body pt-0">
                                    <ul class="social-links list-inline">
                                        <li class="list-inline-item">
                                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a>
                                        </li>                                                                                                       
                                    </ul>                                                               
                                </div>
                                <div class="btn-group">
                                    <a href="#" class="btn btn-info btn-block mt-0 tooltips text-white " data-placement="top" data-toggle="tooltip" data-original-title="Edit">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a href="#" class="btn btn-dark btn-block mt-0 tooltips text-white " data-placement="top" data-toggle="tooltip" data-original-title="Delete">
                                        <i class="fa fa-close"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                     {% endcomment %}
                    <!--end row-->                   
                    
                </div><!--end container-->

                {% endblock content %}