{% load my_tags %} 
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="Mannat Themes">
        <meta name="keyword" content="">

        <title>Bambi Medicare</title>

        <!-- Theme icon -->
        <link rel="shortcut icon" href="/static/bambi/assets/images/favicon.ico">



         <link href="/static/bambi/assets/plugins/form-wizard/jquery.steps.css" rel="stylesheet" type="text/css" />
        <!-- Theme Css -->
        <link href="/static/bambi/assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/bambi/assets/css/slidebars.min.css" rel="stylesheet">
        <link href="/static/bambi/assets/css/icons.css" rel="stylesheet">
        <link href="/static/bambi/assets/css/menu.css" rel="stylesheet" type="text/css">
        <link href="/static/bambi/assets/css/style.css" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.1.45/css/materialdesignicons.min.css.map" rel="stylesheet">

       <link href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.1.45/css/materialdesignicons.css" rel="stylesheet">
    </head>

    <body class="sticky-header">
        <section>
            <!-- sidebar left start-->
            <div class="sidebar-left">
                <div class="sidebar-left-info">

                    <div class="user-box">
                        <div class="d-flex justify-content-center">
                            <img src="/static/bambi/assets/images/users/avatar-1.jpg" alt="" class="img-fluid rounded-circle"> 
                        </div>
                        <div class="text-center text-white mt-2">
                       
                            <h6>{% getDisplayName %}</h6>
                            {% comment %} <p class="text-muted m-0">Admin</p> {% endcomment %}
                        </div>
                    </div>   
                                        
                    <!--sidebar nav start-->
                    <ul class="side-navigation">
                        <li>
                            <h3 class="navigation-title">Navigation</h3>
                        </li>
                        <li>
                            <a href={% url 'bambi:agentDashboard' %}><i class="mdi mdi-gauge"></i> <span>Dashboard</span></a>
                        </li>
                        

                             <li class="menu-list"><a href=""><i class="mdi mdi-google-circles-extended"></i> <span>Payment</a>
                            <ul class="child-list">
                                <li><a href={% url 'bambi:newAgent' %}> Make Payment</a></li>
                                <li><a href={% url 'bambi:agents' %}> Browse Payments</a></li>
                             
                            </ul>
                        </li>
                       
                        <li ><a href=""><i class="mdi mdi-google-circles-extended"></i> <span>Members</a>
                          
                        </li>

                    

                     
                        
                    
                    </ul><!--sidebar nav end-->
                </div>
            </div><!-- sidebar left end-->

            <!-- body content start-->
            <div class="body-content">
                <!-- header section start-->
                <div class="header-section">
                    <!--logo and logo icon start-->
                    <div class="logo">
                        <a href="index.html">
                            <span class="logo-img">
                                <img src="/static/bambi/assets/images/logo_sm.png" alt="" height="26">
                            </span>
                            <!--<i class="fa fa-maxcdn"></i>-->
                            <span class="brand-name">Bambi Medicare</span>
                        </a>
                    </div>

                  

                  
                    <div class="notification-wrap">
                        <!--right notification start-->
                        <div class="right-notification">
                            <ul class="notification-menu">
                                <li>
                                    <a href="javascript:;" class="notification" data-toggle="dropdown">
                                        <i class="mdi mdi-bell-outline"></i>
                                        <span class="badge badge-success">4</span>
                                    </a>
                                    <ul class="dropdown-menu mailbox dropdown-menu-right">
                                        <li>
                                          <div class="drop-title">Notifications</div>
                                        </li>
                                        <li class="notification-scroll">
                                            <div class="message-center">
                                                <a href="#">
                                                    <div class="user-img"> 
                                                        <i class="ti ti-star"></i>
                                                    </div>
                                                    <div class="mail-contnet">
                                                        <h6>Jane A. Seward</h6>
                                                        <span class="mail-desc">Iwon meddle and...</span>
                                                    </div>
                                                </a>
                                                <a href="#">
                                                    <div class="user-img">
                                                        <i class="ti ti-heart"></i> 
                                                    </div>
                                                    <div class="mail-contnet">
                                                        <h6>Michael W. Salazar</h6>
                                                        <span class="mail-desc">Lovely gide learn for you...</span> 
                                                    </div>
                                                </a>
                                                <a href="#">
                                                    <div class="user-img"> 
                                                        <i class="ti ti-image"></i>
                                                    </div>
                                                    <div class="mail-contnet">
                                                        <h6>David D. Chen</h6>
                                                        <span class="mail-desc">Send his new photo...</span> 
                                                    </div>
                                                </a> 
                                                <a href="#">
                                                    <div class="user-img"> 
                                                        <i class="ti ti-bell"></i>
                                                    </div>
                                                    <div class="mail-contnet">
                                                        <h6>Irma J. Hendren</h6>
                                                        <span class="mail-desc">6:00 pm our meeting so...</span> 
                                                    </div>
                                                </a> 
                                            </div>
                                        </li>
                                        <li> 
                                            <a class="text-center bg-light" href="javascript:void(0);"> 
                                                <strong>See all notifications</strong> 
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                            

                                <li>
                                    <a href="javascript:;" data-toggle="dropdown">
                                        <img src="/static/bambi/assets/images/users/avatar-1.jpg" alt="">
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right profile-menu">
                                 
                                        <a class="dropdown-item" href={% url 'logout' %}><i class="mdi mdi-logout m-r-5 text-muted"></i> Logout</a>
                                    </div>

                                </li>

                             
                            </ul>
                        </div><!--right notification end-->
                    </div>
                </div>
                <!-- header section end-->

                {% block content %}
                {% endblock content %}
                <!--footer section start-->
                <footer class="footer">
                    2020 &copy; Bambi Medicare.
                </footer>
                <!--footer section end-->


           
            </div>
            <!--end body content-->
        </section>

        <!-- jQuery -->
        <script src="/static/bambi/assets/js/jquery-3.2.1.min.js"></script>
        <script src="/static/bambi/assets/js/popper.min.js"></script>
        <script src="/static/bambi/assets/js/bootstrap.min.js"></script>
        <script src="/static/bambi/assets/js/jquery-migrate.js"></script>
        <script src="/static/bambi/assets/js/modernizr.min.js"></script>
        <script src="/static/bambi/assets/js/jquery.slimscroll.min.js"></script>
        <script src="/static/bambi/assets/js/slidebars.min.js"></script>

        <!--plugins js-->
        <script src="/static/bambi/assets/plugins/counter/jquery.counterup.min.js"></script>
        <script src="/static/bambi/assets/plugins/waypoints/jquery.waypoints.min.js"></script>
        <script src="/static/bambi/assets/plugins/sparkline-chart/jquery.sparkline.min.js"></script>
        <script src="/static/bambi/assets/pages/jquery.sparkline.init.js"></script>

     


        <script src="/static/bambi/assets/plugins/form-wizard/jquery.steps.min.js"></script>
        <script src="/static/bambi/assets/plugins/jquery.validate/jquery.validate.min.js"></script>
        <script src="/static/bambi/assets/pages/jquery.wizard.init.js"></script>


        <!--app js-->
        <script src="/static/bambi/assets/js/jquery.app.js"></script>
        <script>
            jQuery(document).ready(function($) {
                $('.counter').counterUp({
                delay: 100,
                time: 1200
                });
            });
        </script>
    </body>
</html>
